body {
  margin: 2rem 6rem;
  background-color: #151418;
  color: #fff;
  line-height: 1.5;
  font-family: Inter, sans-serif;
}

h1 {
  font-size: 4rem;
  font-weight: 900;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

p {
  opacity: 0.8;
}

.gradient-text {
  background: linear-gradient(90deg, #0af, #a0f);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
